In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
# import platform
from matplotlib import font_manager, rc

In [2]:
#전국종량제봉투가격표준데이터 불러오기
plasticBagData = pd.read_csv('../data/전국종량제봉투가격표준데이터.csv',  encoding='euc-kr')
plasticBagData

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,전라남도,완도군,재사용규격봉투,소각용,음식물쓰레기,기타,0,0,0,0,...,1300,0,0,2600,0,환경산림과,061-550-5511,2020-08-10,4990000,전라남도 완도군
1,대전광역시,대덕구,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,3300,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
2,대전광역시,대덕구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
3,대전광역시,대덕구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
4,경상북도,영천시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,054-330-6193,2021-06-25,5100000,경상북도 영천시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,서울특별시,강서구,규격봉투,소각용,음식물쓰레기,가정용,100,0,190,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
752,서울특별시,강서구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
753,서울특별시,강서구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
754,광주광역시,서구,규격봉투,매립용,생활쓰레기,가정용,0,0,0,0,...,0,2730,0,0,0,청소행정과,062-360-7969,2021-03-11,3600000,광주광역시 서구
755,충청북도,진천군,규격봉투,소각용,생활쓰레기,가정용,60,0,70,0,...,0,0,2300,0,0,식산업자원과,043-539-3466,2021-03-04,4450000,충청북도 진천군

In [3]:
plasticBagData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        756 non-null    object
 1   시군구명       756 non-null    object
 2   종량제봉투종류    756 non-null    object
 3   종량제봉투처리방식  756 non-null    object
 4   종량제봉투용도    756 non-null    object
 5   종량제봉투사용대상  756 non-null    object
 6   1ℓ가격       756 non-null    int64
 7   1.5ℓ가격     756 non-null    int64
 8   2ℓ가격       756 non-null    int64
 9   2.5ℓ가격     756 non-null    int64
 10  3ℓ가격       756 non-null    int64
 11  5ℓ가격       756 non-null    int64
 12  10ℓ가격      756 non-null    int64
 13  20ℓ가격      756 non-null    int64
 14  30ℓ가격      756 non-null    int64
 15  50ℓ가격      756 non-null    int64
 16  60ℓ가격      756 non-null    int64
 17  75ℓ가격      756 non-null    int64
 18  100ℓ가격     756 non-null    int64
 19  120ℓ가격     756 non-null    int64
 20  125ℓ가격     756 non-null    int64
 21  관리부서명      756 non-null    object
 22  관리부서전화번호   756 non-null    object
 23  데이터기준일자    756 non-null    object
 24  제공기관코드     756 non-null    object
 25  제공기관명      756 non-null    object
dtypes: int64(15), object(11)
memory usage: 153.7+ KB

In [4]:
#종량제봉투사용대상이 기타,사업장,소규모배출사업장 전용, 영업용이 아닌 것
plasticBagDataNotGita=plasticBagData[plasticBagData['종량제봉투사용대상'] !='기타' ]
plasticBagDataNotGita=plasticBagDataNotGita[plasticBagDataNotGita['종량제봉투사용대상'] !='사업장용']
plasticBagDataNotGita=plasticBagDataNotGita[plasticBagDataNotGita['종량제봉투사용대상'] !='소규모배출사업장 전용']
plasticBagDataNotGita=plasticBagDataNotGita[plasticBagDataNotGita['종량제봉투사용대상'] !='영업용']
plasticBagDataNotGita

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
1,대전광역시,대덕구,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,3300,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
2,대전광역시,대덕구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
3,대전광역시,대덕구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,기후환경과,042-608-6834,2021-06-24,3680000,대전광역시 대덕구
4,경상북도,영천시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,054-330-6193,2021-06-25,5100000,경상북도 영천시
5,경상북도,영천시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,1350,1800,0,0,자원순환과,054-330-6193,2021-06-25,5100000,경상북도 영천시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,서울특별시,강서구,규격봉투,소각용,음식물쓰레기,가정용,100,0,190,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
752,서울특별시,강서구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
753,서울특별시,강서구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,자원순환과,02-2600-4057,2021-03-12,3150000,서울특별시 강서구
754,광주광역시,서구,규격봉투,매립용,생활쓰레기,가정용,0,0,0,0,...,0,2730,0,0,0,청소행정과,062-360-7969,2021-03-11,3600000,광주광역시 서구
755,충청북도,진천군,규격봉투,소각용,생활쓰레기,가정용,60,0,70,0,...,0,0,2300,0,0,식산업자원과,043-539-3466,2021-03-04,4450000,충청북도 진천군

In [39]:
a=plasticBagDataNotGita.columns
a

Index(['시도명', '시군구명', '종량제봉투종류', '종량제봉투처리방식', '종량제봉투용도', '종량제봉투사용대상', '1ℓ가격',
       '1.5ℓ가격', '2ℓ가격', '2.5ℓ가격', '3ℓ가격', '5ℓ가격', '10ℓ가격', '20ℓ가격', '30ℓ가격',
       '50ℓ가격', '60ℓ가격', '75ℓ가격', '100ℓ가격', '120ℓ가격', '125ℓ가격', '관리부서명',
       '관리부서전화번호', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

In [6]:
#콜럼을 0-20개까지 슬라이스함
plasticBagPrice=plasticBagDataNotGita[a[:21]]
plasticBagPrice

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,5ℓ가격,10ℓ가격,20ℓ가격,30ℓ가격,50ℓ가격,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격
1,대전광역시,대덕구,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,170,330,660,0,1650,0,0,3300,0,0
2,대전광역시,대덕구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,330,660,0,0,0,0,0,0,0
3,대전광역시,대덕구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,0,0,2630,0,0,0,0,0
4,경상북도,영천시,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,90,180,360,0,0,0,0,0,0,0
5,경상북도,영천시,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,90,180,360,0,900,0,1350,1800,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,서울특별시,강서구,규격봉투,소각용,음식물쓰레기,가정용,100,0,190,0,...,500,1000,2000,0,0,0,0,0,0,0
752,서울특별시,강서구,특수규격마대,매립용,생활쓰레기,가정용,0,0,0,0,...,0,0,2040,0,5100,0,0,0,0,0
753,서울특별시,강서구,재사용규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,0,0,490,0,0,0,0,0,0,0
754,광주광역시,서구,규격봉투,매립용,생활쓰레기,가정용,0,0,0,0,...,200,380,740,1110,1830,0,2730,0,0,0
755,충청북도,진천군,규격봉투,소각용,생활쓰레기,가정용,60,0,70,0,...,140,250,480,0,1180,0,0,2300,0,0

In [7]:
plasticBagPrice.to_csv('종이봉투가격.csv', index=False,encoding="utf-8-sig")

In [8]:
plasticBagData2 = pd.read_csv('../data/쓰레기관리비.csv',  encoding='euc-kr')
plasticBagData2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,"4,646,890,762","226,592,005","63,444,140","163,147,865","4,420,298,757","1,038,599,883","68,794,880","97,570,692","2,382,005,979","434,048,266","399,279,057"
1,서울,소계,"731,639,315","926,768",0,"926,768","730,712,547","139,040,192","11,205,218","24,004,332","414,650,956","17,344,788","124,467,061"
2,NaN,종로구,"27,159,409",0,0,0,"27,159,409","555,429","976,818","2,304,000","6,301,352","487,915","16,533,895"
3,NaN,중구,"11,632,733",0,0,0,"11,632,733",0,0,0,"11,632,733",0,0
4,NaN,용산구,"32,825,500",0,0,0,"32,825,500","7,669,115","1,015,946","178,433","13,446,268","1,322,956","9,192,782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,NaN,합천군,"4,768,969","25,197","16,333","8,864","4,743,772","2,765,427","169,936","11,419","75,843","1,403,010","318,137"
253,제주,소계,"237,248,934","92,882,364","20,274,483","72,607,881","144,366,570","52,681,986","2,964,818","11,715,433","26,597,635","17,732,470","32,674,228"
254,NaN,제주도,"95,661,467","90,537,351","20,274,483","70,262,868","5,124,116",0,0,0,0,"2,568,432","2,555,684"
255,NaN,제주시,"96,240,592",0,0,0,"96,240,592","33,138,533","1,837,059","7,590,908","14,451,017","11,652,814","27,570,261"
256,NaN,서귀포시,"45,346,875","2,345,013",0,"2,345,013","43,001,862","19,543,453","1,127,759","4,124,525","12,146,618","3,511,224","2,548,283"

In [9]:
# 데이터 객체타입을 숫자 타입으로 바꾸기 
columns=plasticBagData2.columns
columns=columns[2:] #2번째부터 숫자가 있어서 그 컬럼들만 추출
columns

Index(['Unnamed: 2', '소계', '매립시설', '기타시설', '소계.1', '인건비', '차량운영비', '장비구입비',
       '위탁처리비', '시설관리비', '기타'],
      dtype='object')

In [10]:
def stringReplace(x):   
    return pd.to_numeric(x.replace(',', ''))
    

for name in columns:
    plasticBagData2[name]=plasticBagData2[name].apply(stringReplace)

In [11]:
plasticBagData2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,4646890762,226592005,63444140,163147865,4420298757,1038599883,68794880,97570692,2382005979,434048266,399279057
1,서울,소계,731639315,926768,0,926768,730712547,139040192,11205218,24004332,414650956,17344788,124467061
2,NaN,종로구,27159409,0,0,0,27159409,555429,976818,2304000,6301352,487915,16533895
3,NaN,중구,11632733,0,0,0,11632733,0,0,0,11632733,0,0
4,NaN,용산구,32825500,0,0,0,32825500,7669115,1015946,178433,13446268,1322956,9192782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,NaN,합천군,4768969,25197,16333,8864,4743772,2765427,169936,11419,75843,1403010,318137
253,제주,소계,237248934,92882364,20274483,72607881,144366570,52681986,2964818,11715433,26597635,17732470,32674228
254,NaN,제주도,95661467,90537351,20274483,70262868,5124116,0,0,0,0,2568432,2555684
255,NaN,제주시,96240592,0,0,0,96240592,33138533,1837059,7590908,14451017,11652814,27570261
256,NaN,서귀포시,45346875,2345013,0,2345013,43001862,19543453,1127759,4124525,12146618,3511224,2548283

In [12]:
plasticBagData2.dtypes

Unnamed: 0    object
Unnamed: 1    object
Unnamed: 2     int64
소계             int64
매립시설           int64
기타시설           int64
소계.1           int64
인건비            int64
차량운영비          int64
장비구입비          int64
위탁처리비          int64
시설관리비          int64
기타             int64
dtype: object

In [13]:
#시이름 넣기
def fullName(name):
    global sidoname
    if(pd.isna(name)==0):
        sidoname=name
        return name
    else:
        return sidoname

In [14]:
plasticBagData2['Unnamed: 0']=plasticBagData2['Unnamed: 0'].apply(fullName)
plasticBagData2['Unnamed: 0']

0      전국
1      서울
2      서울
3      서울
4      서울
       ..
252    경남
253    제주
254    제주
255    제주
256    제주
Name: Unnamed: 0, Length: 257, dtype: object

In [15]:
plasticBagData2['Unnamed: 0'].value_counts()

경기    32
서울    26
경북    24
전남    24
경남    20
강원    20
부산    17
충남    17
전북    15
인천    12
충북    12
대구    10
광주     7
대전     7
울산     7
제주     4
세종     2
전국     1
Name: Unnamed: 0, dtype: int64

In [16]:
plasticBagData2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,4646890762,226592005,63444140,163147865,4420298757,1038599883,68794880,97570692,2382005979,434048266,399279057
1,서울,소계,731639315,926768,0,926768,730712547,139040192,11205218,24004332,414650956,17344788,124467061
2,서울,종로구,27159409,0,0,0,27159409,555429,976818,2304000,6301352,487915,16533895
3,서울,중구,11632733,0,0,0,11632733,0,0,0,11632733,0,0
4,서울,용산구,32825500,0,0,0,32825500,7669115,1015946,178433,13446268,1322956,9192782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,경남,합천군,4768969,25197,16333,8864,4743772,2765427,169936,11419,75843,1403010,318137
253,제주,소계,237248934,92882364,20274483,72607881,144366570,52681986,2964818,11715433,26597635,17732470,32674228
254,제주,제주도,95661467,90537351,20274483,70262868,5124116,0,0,0,0,2568432,2555684
255,제주,제주시,96240592,0,0,0,96240592,33138533,1837059,7590908,14451017,11652814,27570261
256,제주,서귀포시,45346875,2345013,0,2345013,43001862,19543453,1127759,4124525,12146618,3511224,2548283

In [26]:
# 열 이름을 변경한다 df.rename(columns={'Before':'After'})
plasticBagData3=plasticBagData2.rename(columns={'Unnamed: 0':'시도', 'Unnamed: 1':'시군구', 'Unnamed: 2':'총계'})

In [27]:
df=plasticBagData3
df

,시도,시군구,총계,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,4646890762,226592005,63444140,163147865,4420298757,1038599883,68794880,97570692,2382005979,434048266,399279057
1,서울,소계,731639315,926768,0,926768,730712547,139040192,11205218,24004332,414650956,17344788,124467061
2,서울,종로구,27159409,0,0,0,27159409,555429,976818,2304000,6301352,487915,16533895
3,서울,중구,11632733,0,0,0,11632733,0,0,0,11632733,0,0
4,서울,용산구,32825500,0,0,0,32825500,7669115,1015946,178433,13446268,1322956,9192782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,경남,합천군,4768969,25197,16333,8864,4743772,2765427,169936,11419,75843,1403010,318137
253,제주,소계,237248934,92882364,20274483,72607881,144366570,52681986,2964818,11715433,26597635,17732470,32674228
254,제주,제주도,95661467,90537351,20274483,70262868,5124116,0,0,0,0,2568432,2555684
255,제주,제주시,96240592,0,0,0,96240592,33138533,1837059,7590908,14451017,11652814,27570261
256,제주,서귀포시,45346875,2345013,0,2345013,43001862,19543453,1127759,4124525,12146618,3511224,2548283

In [28]:
# 총계가 0이면서 시군구가 경제청이 아닌 것 찾기 -> 삭제 

dropData = df[(df['시군구'] != '경제청') & (df['총계']=='0')]
dropDataFinal = dropData.index
print(dropData)

Empty DataFrame
Columns: [시도, 시군구, 총계, 소계, 매립시설, 기타시설, 소계.1, 인건비, 차량운영비, 장비구입비, 위탁처리비, 시설관리비, 기타]
Index: []

In [29]:
afterDf = df.drop(dropDataFinal)
afterDf

,시도,시군구,총계,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,4646890762,226592005,63444140,163147865,4420298757,1038599883,68794880,97570692,2382005979,434048266,399279057
1,서울,소계,731639315,926768,0,926768,730712547,139040192,11205218,24004332,414650956,17344788,124467061
2,서울,종로구,27159409,0,0,0,27159409,555429,976818,2304000,6301352,487915,16533895
3,서울,중구,11632733,0,0,0,11632733,0,0,0,11632733,0,0
4,서울,용산구,32825500,0,0,0,32825500,7669115,1015946,178433,13446268,1322956,9192782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,경남,합천군,4768969,25197,16333,8864,4743772,2765427,169936,11419,75843,1403010,318137
253,제주,소계,237248934,92882364,20274483,72607881,144366570,52681986,2964818,11715433,26597635,17732470,32674228
254,제주,제주도,95661467,90537351,20274483,70262868,5124116,0,0,0,0,2568432,2555684
255,제주,제주시,96240592,0,0,0,96240592,33138533,1837059,7590908,14451017,11652814,27570261
256,제주,서귀포시,45346875,2345013,0,2345013,43001862,19543453,1127759,4124525,12146618,3511224,2548283

In [36]:
budgetDf=afterDf.groupby(['시도','시군구']).sum()
budgetDf

              총계        소계      매립시설      기타시설      소계.1       인건비    차량운영비  \
시도 시군구
강원 강릉시  45783500  14263910   1500152  12763758  31519590  14107640    64482
   강원도         0         0         0         0         0         0        0
   고성군   8912292   4346000   2750000   1596000   4566292   2832232   161263
   동해시  18777283   3910000         0   3910000  14867283   7833426   319385
   삼척시  11424353   1055418    675821    379597  10368935   6216040   670218
...          ...       ...       ...       ...       ...       ...      ...
충북 제천시   7874071         0         0         0   7874071         0        0
   증평군   4341113         0         0         0   4341113         0        0
   진천군  11304948    984259    984259         0  10320689    103230    45601
   청주시  56282359  16666277  13193972   3472305  39616082  18599259  1182554
   충주시  23643143         0         0         0  23643143   7459202   187295

         장비구입비     위탁처리비    시설관리비       기타
시도 시군구
강원 강릉시  802119  11779939  2117339  2648071
   강원도       0         0        0        0
   고성군   91000         0  1481797        0
   동해시  171112   4089645   171106  2282609
   삼척시  242880   2009436  1230361        0
...        ...       ...      ...      ...
충북 제천시       0   2989960  4884111        0
   증평군       0   2341113  2000000        0
   진천군       0   4784258  5387600        0
   청주시  360000  18846917    12760   614592
   충주시  671087   9421919  5903640        0

[257 rows x 11 columns]

In [41]:
a=budgetDf.columns
a

Index(['총계', '소계', '매립시설', '기타시설', '소계.1', '인건비', '차량운영비', '장비구입비', '위탁처리비',
       '시설관리비', '기타'],
      dtype='object')

In [44]:
budgetDf=budgetDf[a[:1]]
budgetDf

              총계
시도 시군구
강원 강릉시  45783500
   강원도         0
   고성군   8912292
   동해시  18777283
   삼척시  11424353
...          ...
충북 제천시   7874071
   증평군   4341113
   진천군  11304948
   청주시  56282359
   충주시  23643143

[257 rows x 1 columns]

In [45]:
budgetDf.to_csv('예산.csv', encoding="utf-8-sig")

In [21]:
totalGwangjusi=afterDf[afterDf ['도시'] == '광주'] 
totalGwangjusi

,도시,시군구,총계,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
66,광주,소계,105088583,0,0,0,105088583,59463885,3869771,2769096,16318914,2599015,20067902
67,광주,광주시,15063738,0,0,0,15063738,0,0,0,0,0,15063738
68,광주,동구,10672225,0,0,0,10672225,8410361,459860,236279,0,943396,622329
69,광주,서구,15666463,0,0,0,15666463,6655724,1239462,0,3797911,0,3973366
70,광주,남구,15036343,0,0,0,15036343,9551189,770090,997575,3635710,81779,0
71,광주,북구,20007869,0,0,0,20007869,15193669,965770,715120,3133310,0,0
72,광주,광산구,28641945,0,0,0,28641945,19652942,434589,820122,5751983,1573840,408469

In [22]:
afterDf

,도시,시군구,총계,소계,매립시설,기타시설,소계.1,인건비,차량운영비,장비구입비,위탁처리비,시설관리비,기타
0,전국,합계,4646890762,226592005,63444140,163147865,4420298757,1038599883,68794880,97570692,2382005979,434048266,399279057
1,서울,소계,731639315,926768,0,926768,730712547,139040192,11205218,24004332,414650956,17344788,124467061
2,서울,종로구,27159409,0,0,0,27159409,555429,976818,2304000,6301352,487915,16533895
3,서울,중구,11632733,0,0,0,11632733,0,0,0,11632733,0,0
4,서울,용산구,32825500,0,0,0,32825500,7669115,1015946,178433,13446268,1322956,9192782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,경남,합천군,4768969,25197,16333,8864,4743772,2765427,169936,11419,75843,1403010,318137
253,제주,소계,237248934,92882364,20274483,72607881,144366570,52681986,2964818,11715433,26597635,17732470,32674228
254,제주,제주도,95661467,90537351,20274483,70262868,5124116,0,0,0,0,2568432,2555684
255,제주,제주시,96240592,0,0,0,96240592,33138533,1837059,7590908,14451017,11652814,27570261
256,제주,서귀포시,45346875,2345013,0,2345013,43001862,19543453,1127759,4124525,12146618,3511224,2548283

In [23]:
afterDf.loc[0]

도시               전국
시군구              합계
총계       4646890762
소계        226592005
매립시설       63444140
기타시설      163147865
소계.1     4420298757
인건비      1038599883
차량운영비      68794880
장비구입비      97570692
위탁처리비    2382005979
시설관리비     434048266
기타        399279057
Name: 0, dtype: object

In [24]:
afterDf['도시'].value_counts

<bound method IndexOpsMixin.value_counts of 0      전국
1      서울
2      서울
3      서울
4      서울
       ..
252    경남
253    제주
254    제주
255    제주
256    제주
Name: 도시, Length: 257, dtype: object>

In [25]:
for i in range():
    dosigroup = afterDF[afterDF[]]

SyntaxError: invalid syntax (Temp/ipykernel_10516/1681691279.py, line 2)

In [ ]:
# gwangjusi=afterDf .loc[67]
# gwangjusi

In [ ]:
# 시군구과 광주시이고 도시가 광주인 것 

gwangjusi=afterDf[(afterDf['시군구'] == '광주시') & (afterDf['도시']=='광주')]
gwangjusi.dtypes

In [ ]:
totalGwangjusi

In [ ]:
# a=totalGwangjusi.iloc[1]

totalGwangjusi.loc[totalGwangjusi['시군구']=='광주시']

In [ ]:
totalGwangjusi[(totalGwangjusi['시군구'] != '광주시') & (totalGwangjusi['도시']=='광주') & (totalGwangjusi['시군구']!='소계')]

In [ ]:
b=totalGwangjusi[2: , 2:]
b

In [ ]:
for i in range(12):
#     print(arr)
    for x in b:
#         print(arr[0])
#         print(x[0])
        print(arr[0]+x[0])
        b[i]=arr[i]+x[i]
print(b)

In [ ]:

# df.loc[(df['B'] == 19) | (df['C'] == 19)]
# df[(df['country']!='한국') & (df['population']>=800)]