In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)
#client = MongoClient('mongodb://localhost:27017')

In [3]:
db = client['test-database']
#db = client.test_database

In [4]:
collection = db['test-collection']
#collection = db.test-collection

In [5]:
data_dic = {'name':'홍길동', 'age':17}

In [6]:
re_data_dic = collection.insert_one(data_dic)

In [7]:
print(re_data_dic)

<pymongo.results.InsertOneResult object at 0x000002531D48A940>

In [8]:
data_dic2 = {'name':'김길동','age':28}

In [9]:
re_data_dic2 = collection.insert_one(data_dic2) #insert_one()데이터를 db에 저장

In [10]:
print(re_data_dic2)

<pymongo.results.InsertOneResult object at 0x000002531D4A2C00>

In [11]:
print(re_data_dic2.inserted_id)

6202120fd356d0c6b9224393

In [12]:
data_list=[{'name':'이길동', 'age':25},
{'name':'박길동', 'age':31},
{'name':'정길동', 'age':35}]

In [13]:
re_data_dic3 = collection.insert_many(data_list) #insert_many() 여러데이터를 db에 저장

In [14]:
print(re_data_dic3)

<pymongo.results.InsertManyResult object at 0x000002531CF801C0>

In [15]:
print(re_data_dic3.inserted_ids)

[ObjectId('6202120fd356d0c6b9224394'), ObjectId('6202120fd356d0c6b9224395'), ObjectId('6202120fd356d0c6b9224396')]

In [16]:
search_results=collection.find_one() # 테이블 제일 위에꺼 조회

In [17]:
print(type(search_results))
print(search_results)

<class 'dict'>
{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}

In [18]:
search_results=collection.find() #테이블 전체 다 조회

In [19]:
print(type(search_results))
print(search_results)

<class 'pymongo.cursor.Cursor'>
<pymongo.cursor.Cursor object at 0x000002531D4B4310>

In [20]:
for search_result in search_results: # 전체 다 조회하기 위해서는 for 문 사용
    print(search_result)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fde4e0d7333bcfd0d42b42'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b44'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b45'), 'name': '정길동', 'age': 35}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120fd356d0c6b9224393'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6202120fd356d0c6b9224395'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6202120fd356d0c6b9224396'), 'name': '정길동', 'age': 35}

In [21]:
#where name = '"홍길동"
search_results_hong=collection.find({'name': '홍길동'})

In [22]:
print(search_results_hong)

<pymongo.cursor.Cursor object at 0x000002531D4C56D0>

In [23]:
for i in search_results_hong:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}

In [24]:
#where name ="홍길동" and age=17
search_results_hong17 = collection.find({'name': '홍길동', 'age':17})

In [25]:
print(search_results_hong17)

<pymongo.cursor.Cursor object at 0x000002531D49D760>

In [26]:
for i in search_results_hong17:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}

In [29]:
#where age>17
search_results_over17 = collection.find({'age':{'$gte':17}})
print(search_results_over17)

<pymongo.cursor.Cursor object at 0x000002531D49D1C0>

In [28]:
for i in search_results_over17:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fde4e0d7333bcfd0d42b42'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b44'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b45'), 'name': '정길동', 'age': 35}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120fd356d0c6b9224393'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6202120fd356d0c6b9224395'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6202120fd356d0c6b9224396'), 'name': '정길동', 'age': 35}

In [31]:
#while age<28
search_results_less28 = collection.find({'age':{'$lt':28}})
print(search_results_less28)

<pymongo.cursor.Cursor object at 0x000002531D49D850>

In [32]:
for i in search_results_less28:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동', 'age': 25}

In [34]:
#where name!= '홍길동'
serach_results_nothong=collection.find({'name':{'$ne':'홍길동'}})

In [36]:
for i in serach_results_nothong:
    print(i)

{'_id': ObjectId('61fde4e0d7333bcfd0d42b42'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b44'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b45'), 'name': '정길동', 'age': 35}
{'_id': ObjectId('6202120fd356d0c6b9224393'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6202120fd356d0c6b9224395'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6202120fd356d0c6b9224396'), 'name': '정길동', 'age': 35}

In [38]:
#select name from ... where age>17
search_results_over17_name=collection.find({'age':{'$gt':17}},{'name':1})

In [39]:
for i in search_results_over17_name:
    print(i)

{'_id': ObjectId('61fde4e0d7333bcfd0d42b42'), 'name': '김길동'}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동'}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b44'), 'name': '박길동'}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b45'), 'name': '정길동'}
{'_id': ObjectId('6202120fd356d0c6b9224393'), 'name': '김길동'}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동'}
{'_id': ObjectId('6202120fd356d0c6b9224395'), 'name': '박길동'}
{'_id': ObjectId('6202120fd356d0c6b9224396'), 'name': '정길동'}

In [40]:
search_results_over17_noid = collection.find({'age':{'$gt':17}}, {'_id':0})

In [41]:
for i in search_results_over17_noid:
    print(i)

{'name': '김길동', 'age': 28}
{'name': '이길동', 'age': 25}
{'name': '박길동', 'age': 31}
{'name': '정길동', 'age': 35}
{'name': '김길동', 'age': 28}
{'name': '이길동', 'age': 25}
{'name': '박길동', 'age': 31}
{'name': '정길동', 'age': 35}

In [43]:
#({where},{'$set':{set}})
set_result=collection.update_one({'name':'홍길동'},{'$set':{'age':18}})

In [44]:
print(set_result)

<pymongo.results.UpdateResult object at 0x000002531CF11C80>

In [45]:
search_results_hong = collection.find({'name':'홍길동'})

In [47]:
for i in search_results_hong:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 18}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}

In [48]:
search_results_hong2=collection.find({'name':{'$regex':'길동'}})

In [49]:
print(search_results_hong2)

<pymongo.cursor.Cursor object at 0x000002531D484E50>

In [50]:
for i in search_results_hong2:
    print(i)

{'_id': ObjectId('61fde386d7333bcfd0d42b41'), 'name': '홍길동', 'age': 18}
{'_id': ObjectId('61fde4e0d7333bcfd0d42b42'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b43'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b44'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fde5bcd7333bcfd0d42b45'), 'name': '정길동', 'age': 35}
{'_id': ObjectId('6202120ed356d0c6b9224392'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6202120fd356d0c6b9224393'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('6202120fd356d0c6b9224394'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('6202120fd356d0c6b9224395'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('6202120fd356d0c6b9224396'), 'name': '정길동', 'age': 35}